.custom-swiper.swiper .swiper-button-prev,
.custom-swiper.swiper .swiper-button-next {
  background-color: #ffffff26;
  top: 35%;
  transform: translateY(-35%);
}
.custom-swiper .swiper-button-prev {
  left: -24px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.custom-swiper .swiper-button-next {
  right: -24px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.custom-swiper .swiper-button-prev::after,
.custom-swiper .swiper-button-next::after {
  color: #fff;
}

.custom-swiper .swiper-pagination .swiper-pagination-bullet {
  background-color: #fff;
}
