@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Untitled Sans';
  src: url('/src/assets/font/untitled-sans/UntitledSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Untitled Sans';
  src: url('/src/assets/font/untitled-sans/UntitledSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Untitled Sans';
  src: url('/src/assets/font/untitled-sans/UntitledSans-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Untitled Sans';
  src: url('/src/assets/font/untitled-sans/UntitledSans-Black.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
body{
  font-family: "Untitled Sans", sans-serif;
  margin: 0;
  padding:0;
  box-sizing: border-boxw;
}